<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clm.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <result column="user_id"  property="id"/>
        <result column="user_name"  property="userName"/>
        <result column="user_pwd"  property="userPwd"/>
        <result column="user_portrait"  property="portrait"/>
    </resultMap>
<!--    结果集映射-->
    <select id="getUsers"  resultMap="UserMap">
        select * from user;
    </select>
<!--    根据用户id查找-->
    <select id="getUserById" resultMap="UserMap">
        select * from user where user_id = #{id};
    </select>
<!--    根据用户手机号查找-->
    <select id="getUserByTelephone" resultMap="UserMap">
        select * from user where telephone = #{telephone};
    </select>
<!--    匹配手机号和密码-->
    <select id="getUserByTelephoneAndPwd" resultMap="UserMap">
        select * from user where telephone = #{telephone} and pwd = #{pwd};
    </select>
<!--    添加用户、手机号、用户名、-->
    <insert id="insertUser" parameterType="User">
        insert into user(telephone,user_name,user_pwd,sex)
        values(#{id},#{telephone},#{userName},#{userPwd},#{sex});
    </insert>
</mapper>